<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta id="context-path" th:content="@{/}" />
    
    <link rel="shortcut icon" th:href="@{/images/public/icon.png}" type="image/x-icon" />
	<link rel="icon" th:href="@{/images/public/icon.png}" type="image/x-icon" />
    
    <title>404</title>
    
    <link rel="stylesheet" th:href="@{/css/error/404.css}" />
</head>
<body>
    <div class="g-bd">
        <div class="m-bg">
            <img class="m-img" th:src="@{/images/error/404.png}" />
        </div>
        <div class="m-tt">
            <p class="m-p">啊哦~一不小心闯进了未知领域，请点击下面按钮返回首页……</p>
        </div>
        <div class="m-btn-mn">
            <button class="m-btn j-btn" type="button">返回首页</button>
        </div>
    </div>
</body>
<script th:src="@{/js/error/404.js}"></script>
</html>