<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.7.0
    </div>
    <strong>Copyright &copy; 2017 <a href="#">青岛市高新区管委会</a>.</strong> All rights reserved.
</footer>

<script th:src="@{/js/public/bootstrap.min.js}"></script>
<script th:src="@{/js/public/bootstrap-paginator.js}"></script>
<script th:src="@{/js/public/app.min.js}"></script>
<script th:src="@{/js/public/demo.js}"></script>
<script th:src="@{/js/public/layer.js}"></script>
<script th:src="@{/js/public/jquery.tmpl.min.js}"></script>