<head>
    
    <title>基础数据平台</title>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    
    <meta id="context-path" th:content="@{/}" />
    
    <link rel="shortcut icon" th:href="@{/images/public/icon.png}" type="image/x-icon" />
	<link rel="icon" th:href="@{/images/public/icon.png}" type="image/x-icon" />
    
    <link rel="stylesheet" th:href="@{/css/public/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/public/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/public/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/public/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/public/public.css}" />
	
	<script th:src="@{/js/public/jquery-2.2.3.min.js}"></script>
</head>